{# import 'admin/layout.html' as layout with context -#}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head_meta -%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="Anastasios Selalmazidis">
    {% endblock head_meta -%}
    <title>{% block title -%}{% endblock title %}</title>
    {% block head_css -%}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/genericons/3.0.3/genericons.css" />
   <script type="text/js">
    function countdown(remaining) {
        if(remaining === 0)
            location.reload(true);
        else {
            document.getElementById('countdown').innerHTML = 'Refresh in: ' + remaining + ' sec';
            setTimeout(function(){ countdown(remaining - 1); }, 1000);
        }
    }
    window.onload = function() {countdown(120)};
    
   </script>
    {% endblock head_css -%}
    {% block head -%}
    {% endblock head -%}
    {% block head_tail -%}
    {% endblock head_tail -%}
</head>
<body>
    {% block menu -%}
        {% include "layouts/menu.html" -%}
    {% endblock menu -%}

    {% block page_body -%}
    <div id="container">

        {% block messages -%}

        {% endblock messages -%}

        {% block body -%}{% endblock body -%}
    </div>
    {% endblock page_body -%}

    {% block tail -%}
    <footer>
    </footer>
    {% endblock tail -%}

</body>
</html>
